
@{
    ViewData["Title"] = "Contact";

}
<section class="contact">
    <div class="pic-area">
        <div class="pic-area-text">
            <h2>Methods to</h2>
            <h1 class="home__name">
            Contact Us
            </h1>
            <h3>One email, phone call, or block away.</h3>
            <div class="sections">
                <div class="sections-section">
                    <i class="fas fa-envelope"></i> Email <p>TheSpaceCoffee@yrzj3.onmicrosoft.com</p>
                </div>
                <div class="sections-section">
                <i class="fas fa-mobile-alt"></i> Phone <p>+84 988 xxx x75</p>
                </div>
                <div class="sections-section">
                <i class="fas fa-map-marker-alt"></i> Address <p>3 Cau Giay, Cau Giay, Dong Da, Ha Noi</p>
                </div>
            </div>
            <div class="icons">
                <a href="#!"><i class="fab fa-twitter"></i></a>
                <a href="#!"><i class="fab fa-facebook"></i></a>
                <a href="#!"><i class="fab fa-instagram"></i></a>
                <a href="#!"><i class="fab fa-snapchat-square"></i></a>
            </div>
        </div>
        <div class="copyright">&copy; Copyright 2022</div>
    </div>



