
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_LayoutDripcafe.cshtml";
}

<section class="services">
    <div class="pic-area">
        <div class="pic-area-text">
            <h2>Take a Look at Our</h2>
            <h1 class="home__name">
                Amazing Services!
            </h1>
            <h3>Your home away from home.</h3>
            <!-- <button class="btn-order">Order Now!</button> -->
        </div>
    </div>
    <div class="main-area">
        <div class="section-area">
            <div class="section-A">
                <div class="box-text">
                    <h1>Entertainment</h1>
                    <p>
                        Need something to read? Check out our bookshelf for the hottest
                        New York Bestsellers in the past year. We also have free daily
                        newspapers for anyone's leisure. Our television is on
                        throughout the day. Daily events occur ranging from karaoke to
                        concerts from our local school band!
                    </p>
                </div>
                <div class="box-img">
                    <img src="../img/entertainment.jpg" alt="Entertainment" />
                </div>
            </div>
        </div>
        <div class="section-area">
            <div class="section-B">
                <div class="box-text">
                    <h1>Day & Night Parking</h1>
                    <p>
                        We allow any customer 24/7 parking on our block as long as you
                        are a customer signed up on our email list. However, it is
                        first-come-first-serve so you have to be quick or else someone
                        might take your spot!
                    </p>
                </div>
                <div class="box-img">
                    <img src="../img/parking.jpg" alt="Parking" />
                </div>
            </div>
        </div>
        <div class="section-area">
            <div class="section-C">
                <div class="box-text">
                    <h1>Venue for Parties</h1>
                    <p>
                        We can host any parties for you or your loved ones! We provide
                        the foods from donuts to birthday cakes. We also can play
                        music, provide games, and much more!
                    </p>
                </div>
                <div class="box-img">
                    <img src="../img/venue.jpg" alt="Venue" />
                </div>
            </div>
        </div>
    </div>


