
@{
    ViewData["Title"] = "SignUp";
}
<section class="sign-up">
    <div class="pic-area">
        <div class="pic-area-text">
            <div id="login-box">
                <form id="login-form" name="login-form" action="index.html" method="post">
                <label>Email: </label> <br />
                <input type="email" name="email" id="emailid" pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" 
                required/>
                <br/>
                <label>Username: </label> <br/>
                <input type="text" name="userid" id="userid" pattern="[a-zA-Z0-9]+" required/>
                <!-- minlength="10" does not work probably bc you need to use the submit button--><br />
                <label>Password: </label> <br />
                <input type="password" name="pswrd" id="pswrd" /><br />
                <br />
                </form>
                <div id="username-display"></div>
                <button class="btn-order" id="sign-up-btn">Sign Up</button>
            </div>
            <div class="icons">
                <a href="#!">
                <i class="fab fa-twitter"></i>
                </a>
                <a href="#!">
                <i class="fab fa-facebook"></i>
                </a>
                <a href="#!">
                <i class="fab fa-instagram"></i>
                </a>
                <a href="#!">
                <i class="fab fa-snapchat-square"></i>
                </a>
            </div>
        </div>
        <div class="copyright">&copy; Copyright 2022</div>
    </div>


